.button{
	width: 50px;
}

.subbmit{
	font-family: Arial, "Helvetica Neue", Helvetica, fantasy;
	text-shadow: 1px 1px 1px #000;
	text-decoration: 
}

body{
	 background-image: url('/img/fon.png');
	/* background-color: yellow;*/
}